<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Pesquisar" show-clear-button="focus" (ionInput)="handleChange($event)"></ion-searchbar>
  <ion-list >
    <ion-item-divider>
      A
    </ion-item-divider>
    <ion-item *ngFor="let contact of results" (click)="showInfoModal(contact)">

      <ion-label>
        {{ contact.name }}
      </ion-label>
      <ion-icon name="chevron-forward" size="small" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="contacts.length === 0">
    <ion-card-content>
      <ion-label>Você ainda não tem nenhum contato.</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
